{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div>
    <h1 class="text-center text-dark "> Update Product</h1>
    <form method="post" action="/update-product/{{ product.id }}" class="forms">
        <P>{{ success }}</P>
        {% csrf_token %}
        <input value="{{ product.name }}" required class="form-control" placeholder="Update Name" name="p-name" type="text"><br>
        <input value="{{ product.qtty }}" required class="form-control" placeholder="Update quantity" name="p-qtty" type="text"><br>
        <input value="{{ product.size }}" required class="form-control" placeholder="Update size" name="p-size" type="text"><br>
        <input value="{{ product.price }}" required class="form-control" placeholder="Update price" name="p-price" type="text"><br>
        <input class="btn btn-dark" value="Update" type="submit">
    </form>
    <p>{{ product_name }}</p>
    <p>{{ product_quantity }}</p>
    <p>{{ product_size }}</p>
    <p>{{ product_price }}</p>
    </div>
{% endblock%}
